
h1{
    color: #090807;
}



body{
    background-image: url(image/solnedgångstrand.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* här styr vi title*/
.title {
    text-align: center;
    font-size: 36px;
    /* Ytterligare stilinställningar här, om så önskas */
}
/* delzar bilden */
.centered-image {
    display: block;
    margin: 0 auto;
}

.centered-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
   /* padding-bottom: 100px;*/
    /*height: 100vh; /* För att fylla hela höjden av vyporten */
}

.text-container {
    background-color: rgba(97, 97, 97, 0.7); /* Mörk och genomskinlig bakgrundsfärg */
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Skugga för textbehållaren */
    text-align: center;
}
/* style för about me */
.custom-heading {
    font-size: px;
    color: #333;
    font-family: Arial, sans-serif;
  }
  /* style för about me */
  .custom-paragraph {
    font-size: 16px;
    color: #666;
    font-family: Arial, sans-serif;
  }
  
  




