
h1{
    color: #090807;
}



body{
    background-image: url(image/havet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* här styr vi title*/
.title {
    text-align: center;
    font-size: 36px;
    /* Ytterligare stilinställningar här, om så önskas */
}
/* delzar bilden */
.centered-image {
    display: block;
    margin: 0 auto;
}

.centered-bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh; /* För att fylla hela höjden av vyporten */
}




